VITE_SOCKUDO_KEY=plapper.ch
VITE_SOCKUDO_HOST=localhost
VITE_SOCKUDO_PORT=9110
VITE_SOCKUDO_SECRET=secret

SOCKUDO_DEBUG=1
SOCKUDO_DEFAULT_APP_KEY=plapper.ch
SOCKUDO_DEFAULT_APP_ID=plapper.ch
SOCKUDO_DEFAULT_APP_SECRET=secret
SOCKUDO_ENABLE_CLIENT_MESSAGES=1
