VITE_SOCKUDO_KEY=plapper.ch
VITE_SOCKUDO_HOST=www.plapper.ch
VITE_SOCKUDO_PORT=443
VITE_SOCKUDO_AUTH_ENDPOINT=/broadcasting/auth

SOCKUDO_DEBUG=0
SOCKUDO_DEFAULT_APP_KEY=plapper.ch
SOCKUDO_DEFAULT_APP_ID=plapper.ch
SOCKUDO_DEFAULT_APP_SECRET=
SOCKUDO_ENABLE_CLIENT_MESSAGES=1
